:root{
    --very-ligth-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital--green: #ACD9B2;
    --White: #FFFFFF;
    --black: #000;
    --sm:14px;
    --md:16px;
    --lg:18px
}
body{
    font-family: 'Quicksand', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos navbar desktop (clase 11) */
.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--very-ligth-pink);
}
.menu{
    display: none;
}
.left-navbar{
    display: flex;
    padding-left: 48px;
}
.left-navbar img{
    width: 150px;
}
.left-navbar ul, .right-navbar ul{
    list-style: none;
    display: flex;  
    padding: 0;
}
.left-navbar ul a{
    text-decoration: none;
    margin: 0 12px;
    color: var(--very-ligth-pink);
}
.left-navbar ul a:hover{
    border: 1px solid var(--hospital--green);
    border-radius: 12px;
    color: var(--hospital--green);
    padding: 8px 12px;
}
.right-navbar li:nth-child(1){
    font-size: var(--md);
    padding-right: 10px;
    cursor: pointer;
}
.right-navbar{
    position: relative;
    display: flex;
    align-content: center;
}
.right-navbar li:nth-child(3)
{
    position: relative;
    display: flex;
    align-items: center;
}
.right-navbar ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    margin-right: 48px;
}
.right-navbar li div{
    position: absolute;
    top: -3px;
    right: 4px;
    font-size: var(--sm);
    font-weight: bold;
}
.right-navbar ul img :nth-child(1){
    width: 300px;
}
.shopping{
    width: 38px;
    padding-bottom: 0;
    padding-left: 36px;
}
.arrow{
    transform: rotate(90deg);
    padding-bottom: 0;
    cursor: pointer;
}

/* Estilos del menu desktop(clase 7) */
.desktop-menu{
    position: absolute;
    right: 120px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-ligth-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.inactive{
    display: none;
}
.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu li{
    text-align: end;
}
.desktop-menu li:last-child{
    border-top: 1px solid var(--very-ligth-pink);
    padding-top: 20px;
    color: var(--hospital--green);
}
.desktop-menu a{
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
}
.desktop-menu li:last-child a{
    color: var(--hospital--green);
    font-size: var(--sm);
    font-weight: lighter;
}

/* Mobile menu (clase 8) */
.mobile-menu{
    position: absolute;
    padding: 40px;
    height: 600px;
    justify-content: space-between;
    }
    .mobile-menu ul{
        list-style: none;
        padding:0;
        margin:0;
    }
    .mobile-menu ul li{
        margin-top: 32px;
    }
    .mobile-menu a, .mobile-menu p{
        text-decoration: none;
        font-size: var(--lg);
        font-weight: bold;
        color: var(--black);
    }
    .block-1 li:first-child{
        margin-top: 0 !important;
    }
    .block-1 li:nth-child(7){
        padding-bottom: 32px;
    }
    .block-2{
        border-top: 1px solid var(--very-ligth-pink);
    }
    .block-3 li{
        margin-top: 0 !important; 
        position: absolute;
        bottom: 0;
    }
    .block-3 p{
        font-size: var(--md);
        font-weight: lighter;
    }
    .block-3 a{
        font-size: var(--md);
        font-weight: lighter;
        color: var(--hospital--green);
    }

@media(max-width: 640px){
    .menu{
        display: block;
        margin-left: 24px;
    }
    .left-navbar ul{
        display: none;
    }
    .right-navbar li:nth-child(1),.arrow{
        display: none;
    }
    .right-navbar ul{
        margin-right: 24px;
    }
    .desktop-menu{
        display: none;
    }
}
@media(min-width: 641px){
    .mobile-menu{
        display: none;
    }
}